[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/anthony/Desktop/Windows 10 Enterprise x64.desktop]
row=4
col=0

[d9d2dfe6-3943-4d95-a6e8-055eca8a11cf]
row=3
col=0

[SAMSUNG Android]
row=5
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/anthony]
row=1
col=0

