body
	{
		font-family:Segoe UI,Tahoma,sans-serif;
		color:rgba(120,120,120,1.0);
		font-size:small;
	}
#lblDate
	{
		font-size:80px;
		font-weight:bold;
	}
#lblMonth, #lblYear
	{
		font-size:20px;
	}
#lblMonth, #lblYear, #lblDate
	{
		color:rgba(240,240,240,1.0);
		text-align:center;
		vertical-align:middle;
	}
table
	{
		border-collapse:collapse;
		padding:0px
	}
#monthDayDate>table
	{
		border-radius:15px;
		width:186px;
	}

#monthView>table
	{
		width:186px;
	}

#theCoolDate
	{
		text-align:center;
		vertical-align:middle;
		font-weight:bold;
		width:95%;
	}
#optionsIcon
	{
		width:5%;
		text-align:right;
	}
#fullscreenIcon
  {
    text-align:center;
  }
#footerTable
	{
		width:100%;
	}
#cvsClockFace
	{
		width:186px;
		height:186px;
	}

#calutilCalendar
	{
		display:inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		table-layout: fixed;
	}