[submodule "fzf"]
	path = nvim/plugged/fzf
	url = https://github.com/junegunn/fzf

[submodule "fzf.vim"]
	path = nvim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim

[submodule "gruvbox"]
	path = nvim/plugged/gruvbox
	url = https://github.com/morhetz/gruvbox

[submodule "jellybeans.vim"]
	path = nvim/plugged/jellybeans.vim
	url = https://github.com/morhetz/gruvbox

[submodule "lightline.vim"]
	path = nvim/plugged/lightline.vim
	url = https://github.com/nanotech/jellybeans.vim

[submodule "nerdtree"]
	path = nvim/plugged/nerdtree
	url = https://github.com/itchyny/lightline.vim

[submodule "red_alert_vim_theme"]
	path = nvim/plugged/red_alert_vim_theme
	url = https://github.com/pcostasgr/red_alert_vim_theme

[submodule "vim-colors-cherryblossom"]
	path = nvim/plugged/vim-colors-cherryblossom
	url = https://github.com/f1047/vim-colors-cherryblossom

[submodule "vim-plug"]
	path = nvim/plugged/vim-plug
	url = https://github.com/junegunn/vim-plug
