[main]
Quit=f10;q
Find=alt-f7;ctrl-f;
ShowHidden=alt-dot;.
Copy=f5;c
Delete=f8;d
Edit=f4;i
Shell=ctrl-o

[panel]
Up=up;k
Down=down;j
Enter=right;l;o;enter
CdParent=left;h;x
PageUp=pgup;ctrl-u;shift-k
PageDown=pgdn;ctrl-d;shift-j
Mark=v
HistoryPrev=H
Search=ctrl-s;alt-s;/


