loc_name=Lake Magdalene, Hillsborough County
lat=28.087301
lon=-82.500547
msl=24
timezone=America/New_York
offset=-04:00
cache_file_max_age=172800
power_saving=true
units_temperature=1
units_pressure=2
units_windspeed=1
units_precipitation=1
units_altitude=1
model_apparent_temperature=2
round=true
single_row=true
tooltip_style=1
forecast_layout=0
forecast_days=3
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/liquid
show_scrollbox=true
scrollbox_lines=1
scrollbox_color=rgb(0,0,0)
scrollbox_use_color=false
label0=11
label1=9
label2=5

